*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



h1 {
    font-size: 2.875rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
    font-weight: unset;
}

h5 {
    font-size: 1rem;
    font-weight: unset;
}

p {
    font-size: 0.75rem;
}

/*.headerContent {
    max-width: 1200px;
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7.5%;
    font-size: 0.75rem;
}

.mainNav img {
    width: 20%;
    flex: 0 0 50px;
}

.mainNav ul {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: flex-end;
    list-style: none;
}

.navItem {
    margin-right: 10px;
}
  
.navItem > a {
    position: relative;
    text-decoration: none;
    color: #222222;
}

.navItem > a:hover {
    color: #A174DB;
  }

.navItem > a.active::after {
    background-color: #A174DB;
    border-radius: 50%;
    content: "";
    height: 5px;
    position: absolute;
    width: 5px;
    top: 100%;
    left: 40%;
}



.purplebtn {
    background-image: linear-gradient(to right, #6362D7, #A174DB);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px 20px;
  }



.mainNav .purplebtn {
    font-size: 0.75rem;
    padding: 5px 10px;
}

main {
    padding: 0 30px;
}

.centered {
    text-align: center;
}


.headline_margin_top {
    margin-top: 30px;
    margin-bottom: 0px;
}

.headline_padding_bottom {
    margin: 0px auto;
    font-weight: 400;
}

.textcentered {
    width: 70%;
    margin: 20px auto;
}


.purplelinebtn {
    border-radius: 4px;
    color: #A174DB;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #A174DB;
    padding: 10px 20px;
    margin: 0px 20px;
}



.bluelane {
    background-image: linear-gradient(to right, #FFFFFF, #AAD7FF);
    padding: 50px 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 640px;
} 

.section-container {
    display: flex;
    flex-direction: row;
    margin: 150px auto 0px auto;
    align-items: center;
    
}

.processboxes{
    padding-left: 3%;
    margin: 5% 0;
}

.processboxesimg {
    margin: 0 2%;
}

.unbold {
    font-weight: normal;
}

.text {
    font-size: 0.75rem;
    text-align: block;
    margin-right: 20px;
}

.section-container2 {
    display: flex;
    flex-direction: row;
    margin: 50px auto 0px auto;
    align-items: center;
    padding: 0px 20px;
}

.headline_margin_top0 {
    margin-top: 0px;
    margin-bottom: 0px;
}




.section-container3 {
    display: flex;
    flex-direction: row;
    margin: 30px 0 0 0;
    align-items: center;
    padding: 0px 20px;
}

.headline_padding_bottom1 {
    margin: 50px auto auto auto;
    font-weight: 400;
}

.bold {
    font-weight: bold;
}

.boxshades {
    box-shadow: 20px 20px 50px #CCCCCC;
    margin: 3% 3% 0 3%;
    padding: 2.5%;
}

.arrow {
    box-shadow: 20px 20px 50px #CCCCCC;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    padding: 1.5%;
    background-color: #FFFFFF;
    margin: 3% 1.5%;
}


.space {
    margin-top: 100px;
}

.textcentered2 {
    width: 45%;
    margin: 30px auto 40px auto;
}

.section-container4 {
    display: flex;
    flex-direction: row;
    margin: 30px auto 0 auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height:550px;
    padding: 0 50px;
    
}

.boxshades2 {
    align-self: flex-end;
    box-shadow: 10px 10px 30px #CCCCCC;
    margin: 0 1.5%;
    padding: 5% 3%;
    width: 30%;
    color: #999999;
}

.boxshades2_flexstart {
    align-self: flex-start;
    box-shadow: 10px 10px 30px #CCCCCC;
    margin: 0 1.5%;
    padding: 5% 3%;
    width: 30%;
    color: #999999;
}

.boxshades2 > a,
.boxshades2_flexstart > a{
    color: #49BE55;
    text-decoration: none;
    font-size: 0.75rem;
}

.text_margin {
    margin: 10% auto;
}

.section5 {
    position: relative;
}

.textcentered3 {
    width: 45%;
    margin: 30px auto 20px auto;
}

.quote-left {
    position: absolute;
    transform: scaleX(-1);
    left: 200px;
    top: 210px;
}

.quote-right {
    position: absolute;
    right: 200px;
    top: 210px;
}

.jurica {
    position: relative;
    left: 120px;
    bottom: 100px;
}

.tyler {
    position: relative;
    left: -80px;
    top: 70px;
}

.parker {
    position: relative;
    right: 120px;
    top: 270px;
}



.azami {
    position: relative;
    left: 120px;
    bottom: 80px;
}

.eduardo {
    position: relative;
    left: 120px;
    top: 80px;
}

.noname {
    position: relative;
    right: 70px;
    top: 270px;
}

.section-container6 {
    padding: 30px 0;
    background-image: radial-gradient(#AAD7FF, #FFFFFF);
    width: 100%;
    
    position: relative;
    background-size:100% 100%;
}

.formular {
    background-color: #FFFFFF;
    width: 70%;
    margin: auto;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 30px #CCCCCC;
}

.name-section {
    display: flex;
    flex-direction: row;
}

.firstname {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    width: 250px;
    
}

.formular-grey {
    color: #CCCCCC;
    font-weight: normal;

}

.greylane {
    border-bottom: 1px solid #CCCCCC;
}

.lastname {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-top: 50px;
    width: 300px;
}

.email {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    width: 550px;
    margin-top: 30px;
}

.greylane-message {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 80px;
}

.purplebtn-formular {
    background-image: linear-gradient(to right, #6362D7, #A174DB);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    border: none;
    padding: 10px 20px;
    margin: 30px 50px;
}

.yellowman {
    position: absolute;
    left: -30px;
    height: 25%;
    bottom: 5px;
    
}

.purpleman {
    position: absolute;
    right: 25px;
    height: 25%;
    bottom: 5px;
}

.pinkwoman {
    position: absolute;
    right: -50px;
    height: 25%;
    bottom: 5px;
}

.logo-centered {
    text-align: center;
}

.footer {
    margin-top: 100px;
    padding: 0 20px;
}

.footer-titles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact {
    flex-direction: column;
    
}

.mail {
    flex-direction: row;
}


.address-text {
    color: #CCCCCC;
    font-weight: normal;
    width: 55%;
}

.facebook {
    background: linear-gradient(to right, #7F6AD9, #9D60EB);
    border-radius: 50%;
    padding: 15px;
}

.skype {
    background: linear-gradient(to right, #00B56C, #9EE69D);
    border-radius: 50%;
    padding: 15px;
}

.linkedin {
    background: linear-gradient(to right, #FF9AB6, #F03295);
    border-radius: 50%;
    padding: 15px;
}

.instagram { 
    background: linear-gradient(to right, #F09376, #F0DB79);
    border-radius: 50%;
    padding: 15px;
}





/* RESPONSIVE*/
/*@media (min-width: 992px) {
  .headerContent {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .mainNav ul {
    display: flex;
  }

  .navItem {
    margin-right: 10px;
  }
}*/

/*@media (min-width: 1000px) {
  main {
    margin: 0 auto;
    max-width: 1000px;
  }

  .headerContent {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
}*/